


/* 
.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    /* transition: 0.3s; */
    transition: background-color 1s ease-in, border-radius 5s;
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
} */

/* 
section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.4);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.4;
}

#exam {
    margin: 20px;
} */