body {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-end; */
    /* wrap이어야 적용 */
    /* align-content: space-between; */
    /* flex-wrap: wrap; */

}

#container div {
    width: 200px;
    height: 200px;
    /* max-width: 300px; */
    text-align: center;
    flex-basis: 500px;
}

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 3;
}

div:nth-of-type(5) {
    flex-grow: 2;
}

/* div:nth-of-type(5) {
    align-self: flex-start;
} */

/* div:nth-of-type(3) {
    align-self: flex-end;
} */