/* div {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
} */

h1 {
    background-color: pink;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

#one {
    background-color: pink;
    border: 5px solid black;
    box-sizing: border-box;
    margin-left: 50px;
    padding-left: 80px;
}

#two {
    background-color: beige;
    border-color: pink;
    border-width: 5px;
    border-style: dashed;
    box-sizing: border-box;
    border-left-color: blue;
}

#three {
    background-color: bisque;
    border: 4px solid black;
    border-left-style: dotted;
}


section {
    background-color: gray;
    width: 800px;
    height: 800px;
}

div {
    width: 50%;
    height: 50%;
    background-color: pink;
}

h2 {
    font-size: 2em;
}

article {
    font-size: 30px;
}

p {
    font-size: 1em;
}

/* em은 부모요소로부터의 크기의 배수를 의미
   단점: ul를 요소안에 재사용시 em의 배수가 적용이 됨 */